@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.flex-container {
    background-color: #666666;
    padding: 5px; 
    width: 980px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Patrick Hand', cursive;
    font-size: 30pt;
    color: white;
    align-items: flex-start;
    margin: 100px;

}

.flexbox1 {
   display: flex;   
     gap: 300px; 
      padding: 7px;  
      text-align: center; 
      margin: 0px;
      align-self:flex-start;
 }

  .flexbox2 {
    display: flex;
    gap: 10px; 
   padding:7px;
   text-align: center;
   margin-left :375px;
   align-items: flex-start;
   display: table-row;
   margin-top: 10px;
   
}
 .flexbox3 {
    display: inline-flex;
     gap: 7px; 
     padding: 10px;
     text-align: center;
     margin: 3px;
     
     
   
  }

 .flexbox4 {
    display: inline-flex;
     gap: 15px; 
     padding: 7px;
     text-align: center; 
     margin: 3px;
     
     
  }

 .flexbox5 {
    display: inline-flex;
     gap: 15px; 
    padding: 7px;
    text-align: center; 
    margin: 3px; 
    
  }
  
.logo {
    background-color: #aaaaaa;
     padding: 0px ; 
    height: 75px;
    width: 100px;
    text-align: center;  
    line-height: 60px;
    align-items: center;
    margin-top: 20px;
    font-stretch: normal;

  }
.phone {
    background-color: #aaaaaa;
    padding: 1px ; 
    height: 75px;
    width: 75px;
    text-align: center;  
    line-height: 60px;
    margin-bottom: 10px;
    font-size: 30px;
    order: 20;
    row-gap: 50px; 
}
.menu {
    background-color: #aaaaaa;
padding: 8px ; 
height: 25px;
width: 150px;
text-align: center;  
line-height: 28px;
text-align: center;
margin-bottom: 5px;



}
    
  /* background-color: #aaaaaa; */
   /* padding: 50px 230px;  */
   /* height: 50px; */
   /* width: 490px; */
   /* line-height: 50px; */
 /* } */
  
  
.slides {
  background-color: #aaaaaa;
   padding: 50px 230px; 
  height:130px;
  width: 500px;
  line-height: 180px;
  text-align: center;

  }

/* .feat1, .feat2, .feat3, .feat4 { */
    /* background-color: #aaaaaa; */
    /* padding: 1px 30px;  */
 /* height: 230px; */
 /* width: 167px; */
 /* line-height: 250px; */
 /* align-items: flex-start;  */
/*  */
 

/* .feat2 { */
    /* background-color: #aaaaaa; */
   /* padding: 1px 30px;   */
 /* height: 250px; */
 /* width: 250px; */
 /* line-height: 250px; */
 /* } */
/*  */
/* .feat3 { */
     /* background-color: #aaaaaa; */
  /* padding: 1px 30px;   */
 /* height: 250px;  */
  /* width: 250px;  */
  /* line-height: 250px; */
 /* } */

 .side {
  background-color: #aaaaaa;
 padding: 30px;   
height: 400px; 
width: 275px; 
line-height: 400px; 
text-align: center; 
}

.text {
  background-color: #aaaaaa;
 padding: 30px;  
height: 400px; 
width: 550px; 
line-height: 400px;
text-align: center; 
}


.footer {
  background-color: #aaaaaa;
 padding:1px;  
height: 150px; 
width: 960px; 
line-height: 150px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="flex-"] {
    width: 100%;
  }
}


